body{
  margin-top:50px;
  padding: o;
  background-color:grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-collapse: separate;
}
.bg-red{
  color:black;
}
.white{
  color: red;
  background-color: white;
}
.main-body{
  width:350px;
  height:450px;
  background-color: white;
  border-radius: 10px;
}
.inp{
  width: 90%;
  height: 10%;
  border-radius: 20px;
}
.btn{
  width: 70%;
  background-color: rgb(7, 200, 7);
  border-radius: 5px solid;
  color: white;
  margin-top:40px ;
  margin-left: 55px;
}
.btn:hover{
  background-color: rgb(7, 200, 7);
}
.qrimg{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: max-height 1s;
}
.error{
  animation: shake 0.1s linear 10;
}
@keyframes shake{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-2px);
  }
  50%{
    transform: translateX(0);
  }
  75%{
    transform: translateX(2px);
  }
  100%{
    transform: translateX(0);
  }
}